<div class="data-view-main" *ngIf="product">
  <app-dashbread [items]="items"></app-dashbread>
  <div class="actions-linsk">
    <span class="material-icons" *ngIf="product.ProductStatus != STATUS_TRASHED_STRING" (click)="delete()">
      delete
    </span>
    <span class="material-icons" *ngIf="product.ProductStatus == STATUS_TRASHED_STRING" (click)="undelete()">
      recycling
    </span>

    <span class="material-icons" [cdkCopyToClipboard]="productLink" (click)="copy()">
      share
    </span>



  </div>


  <div class="basic">
    <h3 class="header-label">
      Product images.
    </h3>

    <app-images *ngIf="product" [images]="product.Images" [user]="user" [product]="product" [optionId]="0"
      (onUploadFinished)="saveImage($event)" (deleteImageEvent)="deleteImage($event)"
      (setMianImageEvent)="setMianImage($event)" (showImageEvent)="showImage($event)"></app-images>
  </div>

  <div class="basic">
    <h3 class="header-label">
      Product info.
    </h3>

    <div class="no-child">
      <div class="black-label">
        Name
      </div>
      <div class="link" (click)="name()">
        <input type="text" [(ngModel)]="product.Name" placeholder="e.g. Floral summer shirts">
      </div>
    </div>
    <div class="no-child">
      <div class="black-label">
        Description
      </div>
      <div class="link" (click)="name()">
        <textarea name="" [(ngModel)]="product.Description" placeholder="Enter product description "></textarea>
      </div>
    </div>

    <div class="no-child">
      <div class="black-label">
        <p>
          Price <strong>(ZAR)</strong>
        </p>
      </div>
      <div class="link" (click)="name()">
        <div class="link" (click)="name()">
          <input type="number" [(ngModel)]="product.RegularPrice" placeholder="Selling price">
        </div>
      </div>
    </div>

    <div class="no-child">
      <div class="black-label">
        <p>
          Sex
        </p>
      </div>
      <div class="link">
        <select [(ngModel)]="product.ParentCategoryGuid" style="width: 100%;">
          <option [value]="item.Id" *ngFor="let item of SEX">{{item.Name}}</option>
        </select>
      </div>
    </div>


    <div class="no-child">
      <div class="black-label">
        <p>
          Category
        </p>
      </div>
      <div class="link">
        <select [(ngModel)]="product.CategoryGuid" style="width: 100%;">
          <option [value]="item.Id" *ngFor="let item of CATEGORIES">{{item.Name}}</option>
        </select>
      </div>
    </div>



    <!-- <div class="no-child med">
      <div class="black-label">
        Return Policy
      </div>
      <div class="link">
        <select [(ngModel)]="product.ReturnPolicy">
          <option value="No returns">No returns</option>
          <option value="Returns Allowed">Returns Allowed</option>
        </select>
      </div>
    </div> -->



    <div class="no-child">
      <div class="black-label">
        Total Stock In Hand
      </div>
      <div class="link" (click)="name()">
        <input type="tel" [(ngModel)]="product.TotalStock" placeholder="Items sellable">
      </div>
    </div>
  </div>





  <div class="basic">
    <div class="ctas">

      <div class="cta">
        <button class="mat-primary checkout cancel" [disabled]="!product.Name" mat-button color="primary"
          (click)="back()">
          Cancel
        </button>
      </div>

      <div class="cta">
        <button class="mat-primary checkout" [disabled]="!product.Name" mat-button color="primary"
          (click)="saveProduct()">
          Save product
        </button>
      </div>
    </div>
  </div>

</div>
