<div class="section">
<div class="grid">
  <div class="img">
  <img class="" src="assets/images/siya.png" alt="">

  </div>
  <div class="text">
    
  <h1 class="main-heading">
    about <span>us.</span>
  </h1>
  <p>

    We at Scentaholics vow to take you on a remarkable fragrance journey. Through our fragrance reviews, we aim to
    educate & introduce you to the very best luxury scents & hidden gems the world has to offer. We will take you from
    smelling safe & upgrade you to distinctive crowd pleasing scents.

  </p>
  <p>
    Scentaholics was born from a deep passion and love for fine fragrances. We are based in Johannesburg where the
    journey began. All our fragrances are 100% authentic and genuine. We import exceptional & carefully selected scents
    and provide them to our Scentaholic family at affordable prices.
  </p>

  <p>
    We take customer service seriously and strive to ensure that your purchase is as smooth as your fragrance.
  </p>

  <p>
    <b>
      Dress Well. Smell Even Better.
    </b>
  </p>
  </div>
</div>


</div>
