@import '../../../../../../assets/styles/color';

.top-bar-conatiner {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.main {
  padding: 1em;
  border-radius: .5em;
  margin: .5em;

  margin-top: 8em;

  h1{
    text-align: center;
    padding: 1em;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      margin-top: 2em;
    }
  }

  @media only screen and (max-width: 600px) {
    margin-top: 0;
  }

  .product-section {
    @media only screen and (max-width: 600px) {
      // margin-top: 4em;
    }
  }

}




.child {
  margin-bottom: 4em;
  box-shadow: none;
}

.product-details p {
  text-align: left;
}




.products{
  max-width: 70%;
  margin: 1em auto;
  grid-gap: 1em;
  background: $white;
  grid-template-columns: repeat(3,33%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2,50%);
    grid-gap: .2em;
    max-width: 100%;
    width: 100%;
  }
  .product{
    box-shadow: none;
    border: none;
    cursor: pointer;
    img{
      transition: .5s ease-in-out;
    }
    &:hover{
      img{
        width: 105%;
      }
    }
    .image{
      border: 2px solid $cloud;
      width: 100%;
      overflow: hidden;
    
    }

    p{
      text-align: center;
      font-weight: 700;
      padding: 1em;
    }
  }
}