@import "../../../../assets/styles/color";

.top-banner {
  background: $pop;
  display: grid;
  grid-template-columns: 80% 10% auto;
  padding: 1em 2em;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 50% 25% auto;
    padding: 1em 0.5em;
  }

  .col {
    a {
      color: $white;
      display: block;
      text-decoration: none;
      padding: 0.5em 0.1em;
    }

    .a-btn {
      text-align: center;
      border: 1px solid $white;
      width: 8em;

      @media only screen and (max-width: 600px) {
        width: 6em;
      }
    }
  }
}

.nav-banner {
  background: $white;
  display: grid;
  grid-template-columns: 50% auto;
  padding: 0 2em;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    padding: 0.5em;
  }

  .col {
    img {
      width: 12.5em;
      // left: ;
    }

    @media only screen and (max-width: 600px) {
      text-align: center;
    }

    ul {
      top: 2em;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 1em;
          text-align: center;
          text-decoration: none;
          font-weight: 600;
          color: $black;
        }
      }
    }
  }
}

.phone-menu {
  display: none !important;

  @media only screen and (max-width: 600px) {
    display: grid !important;
    grid-template-columns: 4em auto 4em;
    padding: 0 0.5em;
    background: $white;
  }

  .col {
    // border: 2px solid red;
    text-align: center;

    .icons {
      position: relative;
      top: 1em;
    }

    img {
      width: 10em;
    }
  }
}

.mess {
  padding: 0.5em;
  font-size: 0.85em;
  font-weight: 600;
  color: $primary;
}

.pc-menu {
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  .menu-container {
    display: grid;
    background: $white;
    border: none;
    padding: 1em 11em;
    grid-template-columns: 10em auto;
    border-bottom: 2px solid $pop;
  }

  img {
    width: 9em;
  }

  ul {
    top: 2em;
    position: relative;
    float: right;
    margin-right: 1em;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        color: $black;
        margin: 0 1em;
      }
      .active-link {
        // color: $secondary;
        border-bottom: 2px solid $black;
      }
    }
  }
}

.notes {
  background: #d35400;
  color: #fff;
  padding: 0.1em;
  text-align: center;
  p {
    font-weight: 500;
    text-transform: uppercase;
  letter-spacing: 2px;
    // width: fit-content;
  }
}
