<div class="footer">
  <div class="items">
    <div class="item">
      <h3>
        Find us on.
      </h3>

      <!-- <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="http://" target="_blank" rel="noopener noreferrer">Facebook</a>
        </div>
      </div> -->
      <div class="social">
        <div class="icon">
          <img src="assets/images/instagram.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.instagram.com/scenta_holics" target="_blank" rel="noopener noreferrer">@scenta_holics</a>
        </div>
      </div>

<!-- 
      <div class="social">
        <div class="icon">
          <img src="assets/images/twitter.svg" alt="">
        </div>

        <div class="name">
          <a href="https://twitter.com/scenta_holics" target="_blank" rel="noopener noreferrer">Twitter </a>
        </div>
      </div> -->

      <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.facebook.com/scentaholicss" target="_blank" rel="noopener noreferrer">Scentaholicss </a>
        </div>
      </div>


    </div>
    <div class="item">
      <h3>
        NEED HELP?
      </h3>


      <div class="social col-1">
        <div class="name">
          <a routerLink="/about">about scenta holics</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/contact">contact us</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/">Home</a>
        </div>
      </div>

    </div>

    <div class="item">
      <h3>
        terms and conditions
      </h3>






      <div class="social  col-1">
        <div class="name">
          <a routerLink="/terms">Terms of service
          </a>
        </div>
      </div>



      <div class="social  col-1">
        <div class="name">
          <a routerLink="/returns-policy">Return Policy

          </a>
        </div>
      </div>


    </div>

  </div>

  <div class="power">
    <br>
    © {{year}} Scenta Holics.
  </div>

  <img class="phone-only" style="width: 100%; margin-top: 2em;" src="assets/images/paymenst-phone.png" alt="">
<br>
</div>
